.playfair-display-550 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}



.playfair-display-600 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}